@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #ffffff;
}
header{
    display: flex;
    height: 100px;
    width: 100%;
}
.nomes{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 46px;
    margin-left: 300px;
    list-style: none;
    gap:36px;
    padding-left: 13vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 27px;
}
.imagem{
position:relative;
width: 268px;
height: 59.9px;
left: 36px;
top: 31px;
}
.logos{
    display: flex;
    gap: 25px;

}
.logo1{
    margin-left: 350px;
    margin-top: 47.6px;
    width: 30px;
}
.logo2{
    margin-top: 47.6px;
    width: 25px;

}
.logo3{
    width: 30px;
    height: 25px;
    margin-top: 47.6px;
    margin-left: 350;
}
.linha{
    position: relative;
    margin-top: 68px;
    right: 912px;
}
main{
    display: flex;
    height: 100px;
    
}
.texto1{
    width: 300px;
    margin-top: 100px;
    margin-left: 259px;
    font-family: 'Poppins';
}
.texto2{
    width: 500px;
    margin-top: 125px;
    margin-left: -300px;
    font-size: 90px;
    font-family: 'Gill Sans MT';
    color: #8A2D5E;
}
.texto3{
    width: 200px;
    margin-top: 280px;
    margin-left: -500px;
    color: black;
    font-size: 25px;
    font-family: 'Nunito';
    display: flex;
}
.texto4{
    width: 450px;
    margin-top: 320px;
    margin-left: -200px;
    font-family: 'Poppins';
    font-weight: 500px;
    font-size: 16px;
}
.caixa{
    background-color: #383838;
    margin-top: 550px;
    margin-left: -450px;
    height: 57px;
    width: 380px;  
}
.texto5{
    margin-top: 18px;
    text-align: center;
    line-height: 19px;
    font-weight: 19px;
    font-size: 20px;
    font-family: 'Poppins';
    color: #ffffff;
}
.homem{
    display: flex;
    justify-content: center;
     margin-left: 100px;
     margin-top: 20px;
     width: 1000px;
     height: 800px;
}






